body  {
  background-color: #D4E5E7;
}
label {
  width: 20%;
  font-family: Segoe Print
}
h1  {
  text-align: center;
  font-family: Segoe Print;
  font-weight: bold;
  color: red;
}
img {
  position: relative;
  bottom: 3px;
  width: 100%;
  border: 4px solid black;
}
.col-lg-12  {
  text-align: center;
}
.row .btn  {
  position: relative;
  left: 37%;
  border: 1px solid black;
  font-family: Segoe Print;
}
.row  #reversed {
  position: relative;
  left: 42%;
  font-family: Segoe Print;
}
.btn:hover  {
  background-color: rgb(94, 180, 251);
}
.output {
  font-family: Rockwell, serif;
  font-weight: bold;
}